* {
  margin: 0;
  padding: 0;
}
body {
  max-height: 1024px;
  background: url("../assets/img/background.jpg") no-repeat center/cover; 
  font-family: 'Montserrat', sans-serif;
}

header,
main {
  position: relative;
}

header{
  height: 120px;
}

main{ 
  height: 904px
}
.pages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

.hide {
  animation-duration: 0.5s;
  animation-name: page-delete; 

}
.show {
  animation-duration: 0.5s;
  animation-name: page-show; 
}
.modal {
  position: absolute;
  left: calc(50% - 291px);
}
.modal-show {
  animation-duration: 0.5s;
  animation-name: modal-show; 
}

.modal-hide {
  animation-duration: 0.5s;
  animation-name: modal-hide; 
}

@keyframes page-show {
  0% {
    visibility: hidden;
    opacity: 0; 
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes page-delete {
  0% {
   visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0; 
  }
}
@keyframes modal-show {
  0% {
    top:-100%;
  }
  80% {
    top: 25%;
  }
  100%{
    top: 20%;
  }
}
@keyframes modal-hide {
  0% {
    top:20%;
  }
  20% {
    top: 25%;
  }
  40% {
    top: 20%;
  }
  100% {
    top: -100%;
  }
}


header {
  box-sizing: border-box;
}

header h1 {
  display: none;
}

header img {
  display: block;
  margin: 0 auto;
}

.start_page_header img {
  width: 150px;
  height: auto;
  padding: 10px;
}

.start_page_type button {
  position: relative;
    padding: 0;
    width: 415px;
    height: 474px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    transition: all 0.5s;
}
.start_page_type button:hover{
  transform: scale(1.1) rotate(5deg);
  transition: all 0.5s;
}
.start_page_type {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.artists {
  background: url('../assets/img/artists-quiz.jpg') no-repeat;
}

.pictures {
  background: url("../assets/img/pictures-quiz.jpg") no-repeat;
}
.start_page_type button span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 36px;
  line-height: 44px;
  color: #660033;
  text-transform: uppercase;
}

.start_page_setting {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 70px auto 0;  
  width: 180px;
  height: 50px;
  background-color: #660033;
  border: none;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.5s;
  border-radius: 5px;
}
.start_page_setting img{
   transition: all 2s;
}
.start_page_setting:hover img {
  transform: rotate(720deg);
  transition: all 5s;
}

.start_page_setting:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}

.categories_header img { 
  width: 150px;
  height: auto; 
  padding: 10px;
}

.categories_top {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-content: left;
}

.categories_top h2 {
  font-size: 36px;
  line-height: 44px;
  color: #660033;
}

.categories_top button {
  display: block;
  padding-left: 40px;
  width: 180px;
  height: 50px;
  background-color: #660033;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.5s;
  border-radius: 5px;
}

.categories_top button:hover{
  transform: scale(1.05);
  transition: all 0.5s;
}

.categories_home {
  background-image: url("../assets/svg/home.svg");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
}

.categories_top .categories_settings{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.categories_top .categories_settings img{
    transition: all 2s;
}

.categories_settings:hover img{
  transform: rotate(720deg);
  transition: all 5s;
}

.categories_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categories_item {
  position: relative;
  padding:0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}

.categories_item:hover{
  transform: scale(1.05);
  transition: all 0.5s;
}

.categories_item h3 {
  margin-left: 5px;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  text-transform: uppercase;
}

.categories_item.passed h3 {
  color: #660033;
}


.categories_item span {
  position: absolute;
  top: 5px;
  right: 5px;
}

.categories_item img {
  width: 150px;
  height: 150px;
  filter: grayscale(1);
}

.categories_item.passed img {
  filter: none;
}

.categories_item button{
  position: absolute;
  bottom: 4px;
  display: none;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  background-color: #660033;
  background-image: url("../assets/svg/score.svg");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  opacity: 0;
  transition: all 0.5s;
}

.categories_item button:hover {
  opacity: 1;
  transition: all 0.5s;
}

.categories_item.passed button {
  display: block;
}

.question_header_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  text-transform: uppercase;
  color: #660033
}

.question_header_container h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.question_header_container>img {
  margin: 0;
  display: inline-block;
  width: 94px;
  height: 60px;
}

.question_header_container .time {
  width: 130px;
}

.question_header_container .time div {
  display: flex;
  align-items: center;  
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}

.question_painting_image{
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.question_painting_image img {
  width: 600px;
  height: 600px;  
}

.question_painting_image ul {
  position: absolute;
  bottom: 5px;
  right: calc(50% - 165px);
  display: flex;
  align-content: space-between;
  width: 330px;
  gap: 20px;
}

.question_painting_image li {
  list-style: none;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color:  #C4C4C4;
  border: 1px solid #000000;
}

.question_painting_image li.true {
  background-color:#006635;
} 
.question_painting_image li.false{
  background-color: #790000
}

.question_painting_answers {
  padding: 20px 0;
}

.question_painting_answers ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 520px;
  margin: 0 auto;
}

.question_painting_answers li {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  padding: 25px;
  list-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #660033;
  background-color: #ffffff;
  cursor: pointer;
}
.question_painting_answers li:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -210px;
  right: 50px;
  height: 2px;
  background-color: #660033;
}
.question_painting_answers li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 25px;
  bottom: 0px;
  left: -1px;
  width: 1px;
  background-color: #660033;
}

.question_painting_answers li:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 25px;
  left: -1px;
  width: 1px;
  background-color: #660033;
}

.question_painting_answers li:hover{
  font-weight: bold;
  background-color:#C4C4C4;
  transition: all 0.5s;
}

.popup {
  position: absolute;
  padding-top: 200px;
  box-sizing: border-box;
  width: 100%;
  height: 1024px; 
  overflow:hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:20;
}

.modal_answer { 
  margin: 0 auto;
  padding-top: 20px;
  width: 582px;
  height: 715px;
  background-color: #ffffff;
} 

.painting {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

.modal_answer .check {
  display: block;
  margin: 0 auto 25px;
}

.answer span {
  display: block;
  margin-top: 25px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #660033;
}

.answer button{
  display: block;
  margin: 25px auto 0;
  width: 180px;
  height: 50px;
  background-color: #660033;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.5s;
  border-radius: 5px;
}
.answer button:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}
.modal_result { 
  margin: 0 auto;
  padding-top: 40px;
  width: 582px;
  height: 500px;
  background-color: #ffffff;
} 
.modal_result span {
  display: block;
  font-weight: bold;
  margin-top: 25px;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #660033;
}

.modal_result img{
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
}

.modal_result button{
  display: block;
  margin: 25px auto 0;
  width: 180px;
  height: 50px;
  background-color: #660033;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.5s;
  border-radius: 5px;
}

.modal_result button{
  transform: scale(1.1);
  transition: all 0.5s;
}

.score-top {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-content: left;
}

.score-top h2 {
  font-size: 36px;
  line-height: 44px;
  color: #660033;
}

.score-top button {
  display: block;
  width: 180px;
  height: 50px;
  padding-left: 30px;
  background-color: #660033;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.5s;
  border-radius: 5px;
}

.score-top button:hover{
  transform: scale(1.05);
  transition: all 0.5s;
}
.score_home {
  background-image: url("../assets/svg/home.svg");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
}

.score_category {
  background-image: url("../assets/svg/category.svg");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
}

.score-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.score-item {
  position: relative;
  padding:0;
  background-color: rgba(255, 255, 255, 0.5);
}

.score-item h3 {
  margin-left: 5px;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  text-transform: uppercase;
}
.score-item .check{
  position: absolute;
  top:10px;
  right: 10px;
}
.score-item .image{
  display: block;
  width: 184px;
  height: auto;
  filter: grayscale(1);
}

.score-item.check .image{
  filter: none;
}

.score-item .answer {
  position: absolute;
  bottom:0;
  width:100%;
  background-color:rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: all 0.5s;
}

.score-item.open .answer {
  opacity: 1;
  transition: all 0.5s;
}

.score-item .answer span {
  margin: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #660033
}

.question,
.answers {
  list-style: none;
}
.question {
  position: relative;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  
}
.question li{
  width: calc(50% - 10px);
}

.question li img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.5s;
}

.question li img:hover{
  transform: scale(1.05);
  transition: all 0.5s;
}

.answers {
  position: absolute;
  bottom: -25px;
  right: calc(50% - 165px);
  display: flex;
  align-content: space-between;
  width: 330px;
  gap: 20px;
}

.answers li {
  list-style: none;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color:  #C4C4C4;
  border: 1px solid #000000;
}

.answers li.true {
  background-color:#006635;
} 
.answers li.false{
  background-color: #790000
}

.settings-main h2{
  margin: 20px;
  font-size: 36px;
  line-height: 44px;
  color: #660033;
  text-align: center;
}

.settings-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

.settings-container > div {
  width: 40%;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.settings-container input,
.settings-container select {
  cursor: pointer;
}

.volume input[type=range],
.music input[type=range]{
  -webkit-appearance: none;
  display: block;
  margin: 20px auto;
  width: 50%;
  height: 5px;
  background: linear-gradient(to right, #660033 0%, #660033 50%, #E5E5E5 50%, #E5E5E5 100%)
}

.volume input[type=checkbox],
.music input[type=checkbox],
.time input[type="checkbox"]{
  display: block;
  margin: 10px auto;
  width: 20px;
  height: 20px;
}
.time label{
  display: block;
 text-align: center;
 margin: 10px 0;
}

.time span {
  margin-left: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #660033;
}

.language select{
  padding: 10px;
  display: block;
  margin: 15px auto;
  width: 60%;
  font-size: 18px;
  line-height: 26px;
  color: #660033;
  text-align: center;
  font-weight: bold;
}

.language option {
  padding: 15px;
  font-weight: bold;

}
.time input[type=range]{
  -webkit-appearance: none;
  width: 50%;
  height: 5px;
  background: linear-gradient(to right, #660033 0%, #660033 25%, #E5E5E5 25%, #E5E5E5 100%)
}

.volume input::-webkit-slider-thumb,
.music input::-webkit-slider-thumb,
.time input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #660033;
  border-radius: 100%;
}

.settings-container img {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: auto;
}

.settings-container h3{
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #660033;
}
.settings-main button {
  display: block;
  margin: 20px auto;
  width: 180px;
  height: 50px;
  background-color: #660033;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.5s;
  border-radius: 5px;
}

.settings-main button:hover{
  transform: scale(1.05);
  transition: all 0.5s;
}

footer {  
  padding: 30px;
  text-align: right;
}

footer a{
  text-decoration: none;
  color: #660033;
  font-size: 16px;
  font-weight: bold;
}

footer img {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 0 0 auto;
}
.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}